FIREBASE_SERVICE_ACCOUNT_FILE=C:\Users\사용자이름\Downloads\firebase-service-account.json
COUPANG_ACCESS_KEY=여기에_쿠팡_ACCESS_KEY
COUPANG_SECRET_KEY=여기에_쿠팡_SECRET_KEY
COUPANG_VENDOR_ID=여기에_쿠팡_VENDOR_ID
POLL_INTERVAL_MINUTES=10

# 스마트스토어 커머스API센터에서 발급
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=

# 11번가 Open API Center에서 발급
ELEVENST_API_KEY=
ELEVENST_SELLER_ID=
